<a href="https://colab.research.google.com/github/vrangr-ops/Python-for-Data/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#create series
data = [10,20,30,40,50,60,70]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [ ]:
print(series.values)
print(series.index)

[10 20 30 40 50 60 70]
RangeIndex(start=0, stop=7, step=1)

In [ ]:
TemperatureK = [-200,-150,-100,-72,-60,-50,33]
print (Temperature)

[-200, -150, -100, -72, -60, -50, 33]

In [ ]:
import pandas as pd
# Create a Series of 5 temperatures
temperature = pd.Series([23, 18, 30, 25, 20])
print("Max temperature:", temperature.max())
print("Min temperature:", temperature.min())

Max temperature: 30
Min temperature: 18

In [ ]:
temperature.index = ['mon','Tue','Wed','Thu','Fri']
print(temperature)

mon    23
Tue    18
Wed    30
Thu    25
Fri    20
dtype: int64

In [ ]:
#dataframes
#create a dataframe from a dictionary

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['London', 'Paris', 'Berlin', 'Madrid']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age    City
0    Alice   25  London
1      Bob   30   Paris
2  Charlie   35  Berlin
3    David   40  Madrid
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#chanllenge

products = {
    'Name': ['Bread', 'Cake', 'Soup'],
    'price': ['0.77', '2.50', '1.50'],
    'quantity': ['1', '3', '1']
}

df = pd.DataFrame(products)

# Convert to numeric
df['price'] = pd.to_numeric(df['price'])
df['quantity'] = pd.to_numeric(df['quantity'])

# Calculate total value
df['total_value'] = df['price'] * df['quantity']

print(df)

    Name  price  quantity  total_value
0  Bread   0.77         1         0.77
1   Cake   2.50         3         7.50
2   Soup   1.50         1         1.50

In [ ]:
#chanllenge

products = {
    'Name':['Bread','Cake','Soup'],
    'price':['0.77','2.50','1.50'],
    'quantity': ['1','3','1']
}

df = pd.DataFrame(products)
print(df)

    Name price quantity
0  Bread  0.77        1
1   Cake  2.50        3
2   Soup  1.50        1

In [ ]:
df['total Value'] = df['Price'] * df['Quantity']
df.insert(3, 'total Value', df['total Value'])

KeyError: 'Price'

In [ ]:
products = {
    'Name': ['Bread', 'Cake', 'Soup'],
    'price': ['0.77', '2.50', '1.50'],
    'quantity': ['1', '3', '1']
}

df = pd.DataFrame(products)

# Convert to numeric types
df['price'] = df['price'].astype(float)
df['quantity'] = df['quantity'].astype(int)

# Calculate total value
df['total Value'] = df['price'] * df['quantity']



print(df)

    Name  price  quantity  total Value
0  Bread   0.77         1         0.77
1   Cake   2.50         3         7.50
2   Soup   1.50         1         1.50

`.head` statment outputs the first few lines

the CSV file is contained in /content/sample_data for google collab

In [ ]:
df = pd.read_csv('/content/sample_data/students_data_messy.csv')
df.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email
0,Student1,South High,B,58.2,18.0,97.0,Sports,NaN
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu
4,NaN,North High,F,90.2,16.0,100.0,NaN,NaN

In [ ]:
#Nan missing data
#we can drop missing values or fill mising values
#but we have lossed alot of data points for anumber of students
df_dropped =df.dropna()
df_dropped.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu
6,Student7,West High,B,48.1,18.0,88.0,Sports,student7@school.edu
9,Student10,South High,C,18.3,17.0,91.0,Science Club,student10@school.edu
10,Student11,South High,D,16.9,18.0,79.0,Science Club,student11@school.edu
13,Student14,North High,C,24.3,17.0,84.0,Science Club,student14@school.edu

In [ ]:
#drop rows where a specific column is missing

df_dropped_col = df.dropna(subset=['Email'])
df_dropped_col.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu
6,Student7,West High,B,48.1,18.0,88.0,Sports,student7@school.edu
7,Student8,West High,C,7.8,16.0,NaN,NaN,student8@school.edu

In [ ]:
#filling may introduce bias
#fill mising data values
#fill mising values with constant
df['Age filled'] = df['Score'].fillna(df['Score'].mean())
df.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email,Age filled,Age Filled
0,Student1,South High,B,58.2,18.0,97.0,Sports,NaN,58.2,18.0
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu,35.5,17.0
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu,77.7,17.0
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu,23.1,16.0
4,NaN,North High,F,90.2,16.0,100.0,NaN,NaN,90.2,16.0

In [ ]:
#fill missing values with a mean or median
df['Age filled'] = df ['Age'] .fillna(0)
df.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email,Age filled,Age Filled
0,Student1,South High,B,58.2,18.0,97.0,Sports,NaN,18.0,18.0
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu,17.0,17.0
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu,17.0,17.0
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu,16.0,16.0
4,NaN,North High,F,90.2,16.0,100.0,NaN,NaN,16.0,16.0

In [ ]:
#filtering and sorting

#filtering rows where age >30

older_than30 =df [df['Age'] >30]

older_than30.head()

Empty DataFrame
Columns: [Name, School, Grade, Score, Age, Attendance, Extracurricular, Email, Age filled, Age Filled]
Index: []

In [ ]:
#filtering rows where age >16

older_than16 =df [df['Age'] >16]

older_than16.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email,Age filled,Age Filled
0,Student1,South High,B,58.2,18.0,97.0,Sports,NaN,18.0,18.0
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu,17.0,17.0
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu,17.0,17.0
5,NaN,West High,F,88.8,18.0,99.0,NaN,NaN,18.0,18.0
6,Student7,West High,B,48.1,18.0,88.0,Sports,student7@school.edu,18.0,18.0

In [ ]:
#filtering based on multiple conditions

High_score =df [(df['Age'] >16) & (df['Score'] > 90)]

High_score.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email,Age filled,Age Filled
36,Student37,South High,A,99.3,18.0,90.0,Art,NaN,18.0,18.0

In [ ]:
#sorting data

#ascending -score

df_sorted = df.sort_values(by='Score', ascending=False)
df_sorted.head()

,Name,School,Grade,Score,Age,Attendance,Extracurricular,Email,Age filled,Age Filled
36,Student37,South High,A,99.3,18.0,90.0,Art,NaN,18.0,18.0
23,Student24,South High,F,92.2,NaN,100.0,NaN,student24@school.edu,0.0,0.0
41,Student42,North High,D,90.4,16.0,NaN,Science Club,student42@school.edu,16.0,16.0
4,NaN,North High,F,90.2,16.0,100.0,NaN,NaN,16.0,16.0
40,Student41,West High,D,90.1,16.0,75.0,Sports,NaN,16.0,16.0

In [ ]:
df.head()

  Car_num      Brand        Mod    Yr    Money     Miles   Color
0  CAR001      Honda      Coupe  2022      NaN  197300.0   White
1  CAR002  Chevrolet      Coupe  2009  42065.0  119752.0    Blue
2  CAR003        BMW        SUV  2022  31557.0   53984.0     Red
3  CAR004  Chevrolet  Hatchback  2001  38763.0   45774.0  Yellow
4  CAR005  Chevrolet  Hatchback  2006  37606.0    7568.0   Green

In [ ]:
#decending -score

df_sorted = df.sort_values(by='Yr', ascending=True)
df_sorted.head()

   Car_num  Brand        Mod    Yr    Money     Miles  Color
15  CAR016    NaN  Hatchback  1996  22262.0  134312.0    NaN
8   CAR009    BMW      Sedan  1997      NaN  129375.0  Black
11  CAR012    BMW      Coupe  1998  29276.0   44504.0  Black
14  CAR015  Honda        SUV  1998  13529.0   66858.0  Black
19  CAR020  Honda        SUV  1998  26243.0   31854.0  Black

In [ ]:
#sort by multiple columns

df_sorted_multi = df.sort_values(by=['Age', 'Score'], ascending=[True, False])
df
df_sorted_multi.head()

KeyError: 'Age'

In [ ]:
#renaming columns
#want clear names for columns for readability

#rename specific comlumns
df_renamed =df.rename(columns={'Age':'Age_Years', 'Score':'Test_score'})
df_renamed.head()

,Name,School,Grade,Test_score,Age_Years,Attendance,Extracurricular,Email,Age filled,Age Filled
0,Student1,South High,B,58.2,18.0,97.0,Sports,NaN,18.0,18.0
1,Student2,NaN,F,35.5,17.0,78.0,NaN,student2@school.edu,17.0,17.0
2,Student3,NaN,C,77.7,17.0,87.0,Art,student3@school.edu,17.0,17.0
3,Student4,West High,F,23.1,16.0,96.0,Science Club,student4@school.edu,16.0,16.0
4,NaN,North High,F,90.2,16.0,100.0,NaN,NaN,16.0,16.0

In [ ]:
#rename all columns

df.columns =['c1','c2','c3','c4']

df.head()

In [ ]:
df = pd.read_csv('/content/sample_data/messy_cars.csv')
df.head()

  Car_num      Brand        Mod    Yr    Money     Miles   Color
0  CAR001      Honda      Coupe  2022      NaN  197300.0   White
1  CAR002  Chevrolet      Coupe  2009  42065.0  119752.0    Blue
2  CAR003        BMW        SUV  2022  31557.0   53984.0     Red
3  CAR004  Chevrolet  Hatchback  2001  38763.0   45774.0  Yellow
4  CAR005  Chevrolet  Hatchback  2006  37606.0    7568.0   Green

In [ ]:
df_dropped_col = df.dropna(subset=['Money'])
df_dropped_col.head()

  Car_num      Brand        Mod    Yr    Money     Miles   Color
1  CAR002  Chevrolet      Coupe  2009  42065.0  119752.0    Blue
2  CAR003        BMW        SUV  2022  31557.0   53984.0     Red
3  CAR004  Chevrolet  Hatchback  2001  38763.0   45774.0  Yellow
4  CAR005  Chevrolet  Hatchback  2006  37606.0    7568.0   Green
5  CAR006       Ford      Coupe  2023  16534.0  125151.0   Black

In [ ]:
High_milagedrivers =df [(df['Yr'] >2020) & (df['Miles'] > 100000)]

High_milagedrivers.head()

   Car_num      Brand    Mod    Yr    Money     Miles  Color
0   CAR001      Honda  Coupe  2022      NaN  197300.0  White
5   CAR006       Ford  Coupe  2023  16534.0  125151.0  Black
21  CAR022  Chevrolet    SUV  2023      NaN  109488.0   Blue

In [ ]:
df_sorted = df.sort_values(by='Money', ascending=False)
df_sorted.head()

   Car_num      Brand          Mod    Yr    Money     Miles  Color
24  CAR025     Toyota    Hatchback  2006  56214.0   13392.0  Green
22  CAR023      Honda  Convertible  2012  44976.0       NaN   Blue
20  CAR021       Ford        Sedan  2016  44099.0   69505.0    Red
23  CAR024     Toyota          SUV  2020  43044.0   27662.0  White
1   CAR002  Chevrolet        Coupe  2009  42065.0  119752.0   Blue

In [ ]:
#renaming columns
#want clear names for columns for readability

#rename specific comlumns
df_renamedmoney =df.rename(columns={'Money':'Salary'})
df_renamedmoney.head()

  Car_num      Brand        Mod    Yr   Salary     Miles   Color
0  CAR001      Honda      Coupe  2022      NaN  197300.0   White
1  CAR002  Chevrolet      Coupe  2009  42065.0  119752.0    Blue
2  CAR003        BMW        SUV  2022  31557.0   53984.0     Red
3  CAR004  Chevrolet  Hatchback  2001  38763.0   45774.0  Yellow
4  CAR005  Chevrolet  Hatchback  2006  37606.0    7568.0   Green

In [ ]:
df.to_csv("cars_cleaned_edited2201.csv", index=False)

In [ ]:
df = pd.read_csv('/content/sample_data/cars_cleaned_edited2201.csv')
df.head()

  Car_num      Brand        Mod    Yr    Money     Miles   Color
0  CAR001      Honda      Coupe  2022      NaN  197300.0   White
1  CAR002  Chevrolet      Coupe  2009  42065.0  119752.0    Blue
2  CAR003        BMW        SUV  2022  31557.0   53984.0     Red
3  CAR004  Chevrolet  Hatchback  2001  38763.0   45774.0  Yellow
4  CAR005  Chevrolet  Hatchback  2006  37606.0    7568.0   Green

In [ ]:
df = pd.read_csv('/content/sample_data/cars_cleaned_edited2201.csv')
df.head()

NameError: name 'pd' is not defined

In [ ]:
df_cars = pd.read_csv('/content/sample_data/messy_cars.csv')
df.head()

NameError: name 'pd' is not defined

In [ ]:
#grouping and aggregation

#basic grouping
#brand

brand_totals = df_cars.groupby('Brand')['Miles']
brand_totals.head()

0     197300.0
1     119752.0
2      53984.0
3      45774.0
4       7568.0
5     125151.0
6     198664.0
7     138767.0
8     129375.0
10    141330.0
11     44504.0
12    169231.0
13         NaN
14     66858.0
16         NaN
19     31854.0
20     69505.0
21    109488.0
23     27662.0
24     13392.0
Name: Miles, dtype: float64

In [ ]:
brand_totals = df_cars.groupby("Brand")["Miles"].mean()
brand_totals.head()

Brand
BMW          113058.8
Chevrolet     90362.6
Ford          97328.0
Honda        109335.5
Toyota        20527.0
Name: Miles, dtype: float64

In [ ]:
#multiple aggregations

multiple_stats = df_cars.groupby('Brand').agg(
    average_price=('Money', 'mean'),
    average_mileage=('Miles', 'mean'),
    total_cars=('Car_num', 'count')
).reset_index()

multiple_stats.head()

       Brand  average_price  average_mileage  total_cars
0        BMW   31653.333333         113058.8           5
1  Chevrolet   36670.250000          90362.6           5
2       Ford   29977.666667          97328.0           3
3      Honda   25653.800000         109335.5           6
4     Toyota   49629.000000          20527.0           2

In [ ]:
#challenge
colour_mileage = df_cars.groupby('Color').agg(
    average_mileage=('Miles', 'mean')
).reset_index()

colour_mileage

    Color  average_mileage
0   Black     79548.400000
1    Blue     90966.666667
2   Green     10480.000000
3     Red     88273.000000
4   White    141208.666667
5  Yellow    108058.000000

In [ ]:
colour_mileage = df_cars.groupby('Color').agg(
    average_mileage=('Miles', 'mean')
).reset_index()

colour_mileage  #displays all the output

    Color  average_mileage
0   Black     79548.400000
1    Blue     90966.666667
2   Green     10480.000000
3     Red     88273.000000
4   White    141208.666667
5  Yellow    108058.000000

In [ ]:
brand_max_price = df_cars.groupby('Brand').agg(
    max_price=('Money', 'max')
).reset_index()

brand_max_price.head()

       Brand  max_price
0        BMW    34127.0
1  Chevrolet    42065.0
2       Ford    44099.0
3      Honda    44976.0
4     Toyota    56214.0

In [ ]:
brand_colour_counts = df_cars.groupby(['Brand', 'Color']).agg(
    count=('Car_num', 'count')
).reset_index()

brand_colour_counts

        Brand   Color  count
0         BMW   Black      2
1         BMW     Red      1
2         BMW   White      1
3         BMW  Yellow      1
4   Chevrolet    Blue      2
5   Chevrolet   Green      1
6   Chevrolet  Yellow      1
7        Ford   Black      1
8        Ford     Red      1
9        Ford  Yellow      1
10      Honda   Black      2
11      Honda    Blue      1
12      Honda   Green      1
13      Honda     Red      1
14      Honda   White      1
15     Toyota   Green      1
16     Toyota   White      1

In [ ]:
brand_stats = df_cars.groupby('Brand').agg(
    average_mileage=('Miles', 'mean'),
    total_money_spent=('Money', 'sum')
).reset_index()

brand_stats

       Brand  average_mileage  total_money_spent
0        BMW         113058.8            94960.0
1  Chevrolet          90362.6           146681.0
2       Ford          97328.0            89933.0
3      Honda         109335.5           128269.0
4     Toyota          20527.0            99258.0

In [ ]:
#merging and joining data sets
#types -inner,left,right,outer
#use merge() to combine datasets, based on keys
#can merge 2 dataframs on the same column, in our case this is product ID

sales_df = pd.read_csv('/content/sample_data/sales_data.csv')
products_df = pd.read_csv('/content/sample_data/product_customer_data.csv')

sales_df.head()
products_df.head()

,ProductID,ProductName,ProductCategory,Supplier,CustomerID,CustomerName,CustomerCity,CustomerCountry
0,P01,Laptop,Electronics,Supplier A,C101,John Doe,New York,USA
1,P02,Mouse,Electronics,Supplier A,C102,Jane Smith,London,UK
2,P03,Keyboard,Electronics,Supplier B,C103,Peter Jones,Paris,France
3,P04,Monitor,Electronics,Supplier C,C104,Mary Williams,Tokyo,Japan
4,P05,Desk Lamp,Furniture,Supplier B,C105,Robert Brown,Sydney,Australia

In [ ]:
#merging and joining data sets
#types -inner,left,right,outer
#use merge() to combine datasets, based on keys
#can merge 2 dataframs on the same column, in our case this is product ID

sales_df = pd.read_csv('/content/sample_data/sales_data.csv')
products_df = pd.read_csv('/content/sample_data/product_customer_data.csv')
sales_df.head()
products_df.head()


merged_df = pd.merge(
    sales_df,
    products_df,
    on='ProductID',
    how='inner'


)
merged_df.head()

,TransactionID,ProductID,CustomerID_x,SaleDate,Quantity,UnitPrice,TotalSaleAmount,PaymentMethod,ProductName,ProductCategory,Supplier,CustomerID_y,CustomerName,CustomerCity,CustomerCountry
0,1001,P01,C101,2025-01-05,2,15.50,31.00,Credit Card,Laptop,Electronics,Supplier A,C101,John Doe,New York,USA
1,1002,P05,C102,2025-01-05,1,120.00,120.00,Cash,Desk Lamp,Furniture,Supplier B,C105,Robert Brown,Sydney,Australia
2,1003,P03,C103,2025-01-06,3,50.00,150.00,Credit Card,Keyboard,Electronics,Supplier B,C103,Peter Jones,Paris,France
3,1004,P02,C104,2025-01-06,5,8.75,43.75,Cash,Mouse,Electronics,Supplier A,C102,Jane Smith,London,UK
4,1005,P01,C105,2025-01-07,1,15.50,15.50,Debit Card,Laptop,Electronics,Supplier A,C101,John Doe,New York,USA

In [ ]:
# merge on ProductID
merged_df = pd.merge(
    sales_df,
    products_df,
    on="ProductID",
    how="inner"
)

merged_df.head()

,TransactionID,ProductID,CustomerID_x,SaleDate,Quantity,UnitPrice,TotalSaleAmount,PaymentMethod,ProductName,ProductCategory,Supplier,CustomerID_y,CustomerName,CustomerCity,CustomerCountry
0,1001,P01,C101,2025-01-05,2,15.50,31.00,Credit Card,Laptop,Electronics,Supplier A,C101,John Doe,New York,USA
1,1002,P05,C102,2025-01-05,1,120.00,120.00,Cash,Desk Lamp,Furniture,Supplier B,C105,Robert Brown,Sydney,Australia
2,1003,P03,C103,2025-01-06,3,50.00,150.00,Credit Card,Keyboard,Electronics,Supplier B,C103,Peter Jones,Paris,France
3,1004,P02,C104,2025-01-06,5,8.75,43.75,Cash,Mouse,Electronics,Supplier A,C102,Jane Smith,London,UK
4,1005,P01,C105,2025-01-07,1,15.50,15.50,Debit Card,Laptop,Electronics,Supplier A,C101,John Doe,New York,USA

In [ ]:
#pivot tables
#a way to summarise data in matrix format
#useful for multi-dimentional analysis (rows vs columns vs values)


#1.read in our csv files
#2.merge(done above)
#3. create piot table -summarise total sales by region and product category

sales_df = pd.read_csv('/content/sample_data/sales_data.csv')
products_df = pd.read_csv('/content/sample_data/product_customer_data.csv')


#create new column  for toatal sales

merged_df ['TotalSales']  = merged_df['TotalSaleAmount'] * merged_df['UnitPrice']

#pivot table-total sales by region and product category

pivot_table= pd.pivot_table(
    merged_df,
    index='CustomerCountry',
    columns = 'ProductCategory',
    values ='TotalSales',
    aggfunc='sum',
    fill_value=0



)
print(pivot_table)

ProductCategory  Electronics  Furniture  Stationery
CustomerCountry
Australia             0.0000    57600.0         0.0
Canada            27075.0000        0.0         0.0
France            20000.0000        0.0         0.0
Germany               0.0000   120000.0         0.0
Italy                 0.0000        0.0      8100.0
Japan              3750.0000        0.0         0.0
Mexico              600.0000        0.0         0.0
Spain                 0.0000        0.0       325.0
UK                  842.1875        0.0         0.0
USA                3844.0000        0.0         0.0

Activity Instructions:

Tasks:
Group orders by customer and compute total and average order amount.
Merge orders with customer info.
Create a pivot table showing total order amount by customer and order type.
Save results to CSV.

In [ ]:
order_summary = (
    df.groupby("CustomerID_x")["TotalSaleAmount"]
      .agg(
          total_amount="sum",
          average_amount="mean"
      )
      .reset_index()
)

order_summary.head()

KeyError: 'CustomerID_x'